# DEPRECATED: chronos service is no longer deployed
name: Deploy Chronos (DISABLED)

on:
  workflow_dispatch:

jobs:
  disabled:
    runs-on: ubuntu-latest
    steps:
      - name: Notice
        run: echo "Chronos deployment is disabled. This service is deprecated."
